*{
    margin: 0;
    padding: 0;
}

#body{
    background-color: rgb(31, 28, 28);
    width: 100vw;
    /* height: 667px; */
    height: 100vh;
    position: fixed;
}

.torch{
    position: relative;
    width: 200px;
    height: 200px;
    /* transform: rotate(-45deg); */
    z-index: 1;
}

.light{
    width: 44px;
    height: 0px;
    border-bottom: 900px solid rgba(0, 255, 255, 0.51);
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    position: relative;
    left: 0px;
    right: 0px;
    top: 270px;
    margin: 0px auto;
    z-index: -1;
    border-radius: 90px 90px 0px 0px;
    transform: rotate(45deg);
}

.invisible{
    animation-name: invisible;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes invisible {
    to{
        opacity: 0;
    }
}

h1{
    width: 100px;
    height: 100px;
    float: left;
    top: -1000px;
    position: relative;
    left: 30vw;
    font-size: 230px;
    color: rgb(31, 28, 28);
}

.on{
    position: relative;
    top: -1060px;
    cursor: pointer;
    z-index: 2;
    left: 40vw;
    width: 50px;
    background-color: #00ffff82;
    color: white;
    box-shadow: 2px 2px 10px #00ffff82;
}
.off{
    position: relative;
    top: -1060px;
    cursor: pointer;
    z-index: 2;
    left: 40vw;
    width: 50px;
    background-color: #1f1c1c;
    color: white;
    box-shadow: 2px 2px 10px #1f1f1f;
}